* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0b0b;
  color: #ffffff;
}

nav {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #222;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h2 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.hero p {
  color: #bbbbbb;
  margin-bottom: 25px;
}

.btn {
  border: 2px solid white;
  padding: 12px 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: white;
  color: black;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 70px 20px;
  text-align: center;
}

section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

section p {
  color: #cccccc;
}

ul {
  list-style: none;
}

ul li {
  margin: 15px 0;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 30px;
  color: #666;
  border-top: 1px solid #222;
}
#signup {
  background: #111;
  padding: 80px 20px;
  text-align: center;
}

#signup input {
  padding: 12px;
  width: 260px;
  max-width: 80%;
  margin: 10px 0;
  border: none;
}

#signup button {
  padding: 12px 30px;
  margin-left: 5px;
  border: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

#signup button:hover {
  background: #ccc;
}
